<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container py-4">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Dropdown <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
            <li class="dropdown-item"><a href="#">Item</a></li>
        </ul>
    </div>
</div>
<style>
    .dropdown-menu {
        max-height: 280px;
        overflow-y: auto;
    }
</style>
</body>
</html>